<div class="modal fade" id="ErrorModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-4 bg-danger">
                <h5 class="modal-title text-white">Error!</h5>
                  <button type="button" class="btn-close btn-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <i class="bi bi-slash-circle text-danger align-middle" style="font-size: 2.0rem;"> </i> <span class="h5"> Record Not processed...  </span>

            </div>
            <div class="modal-footer py-3">
               
            </div>
        </div>
    </div>
</div>


