<div class="modal fade" id="SuccessModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-4 bg-success">
                <h5 class="modal-title text-white">Success!</h5>
                @*   <button type="button" class="btn-close btn-warning" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <div class="modal-body text-center">
                <i class="bi bi-check2-circle text-success align-middle" style="font-size: 2.0rem;"> </i> <span class="h5"> Record processed successfully. </span>

            </div>
            <div class="modal-footer py-3">
                <a id="btnConformOk" href="#" class="btn btn-success"><i class="bi bi-check2-circle me-1"></i>OK</a>
            </div>
        </div>
    </div>
</div>


