@{
    ViewBag.Title = "Unauthorized";
}

<div class="text-center mt-12 fade-in">
    <i class="bi bi-shield-lock-fill text-danger" style="font-size: 4rem;"></i>
    <h2 class="text-danger mt-2 mb-4">Access Denied</h2>
    <span class="fst-italic text-muted fs-5"> You don’t have the required permission to view this page or perform this action. </span>
 
</div>
