@{
    ViewData["Title"] = "Home";
}
<div class="mt-12 p-4">
    <img src="~/img/icons/Surveylogo.png" class="img-fluid rounded mx-auto d-block">
</div>

<div class="text-center fst-italic fs-5 text-muted mt-2">
    Smart Surveys for Smarter Infrastructure.
</div>
